@media only screen {

	/* 
		The Footer Container
	*/
	.footer-wrapper {
		position: relative;
		width: 100%;
		height: 80%;
		background: $red;
		text-align: center;
		font-family: $headerFont;
		// pretty close to the height of the nav
		padding-top: 5vh;
		// css-override logo from homepage
		.logo {
			width: calc(670px * 0.15);
			height: calc(1040px * 0.15);
		}
		a, a:visited {
			color: white;
			text-decoration: none;
		}
	}
	
	// takeout+delivery buttons wrapper
	.footer-buttons-wrapper {
		text-align: center;
	}
	.footer-main {
		width: 100%;
		height: calc(100% - 6rem);
		position: relative;
		.footer-main-centerer {
			@include centerer;
			width: 100%;
		}
	}
	// buttons
	.footer-buttons {
		display: inline-block;
		text-transform: uppercase;
		padding: 2rem 4rem;
		font-size: 2rem;
		background: white;
		color: $red;
		margin: 1rem;
		cursor: pointer;
	}
	// the placeName, and location info blurb
		// wrapper
	.footer-contactInfo {
		color: white;
		padding: 5%;
			// content (incl. tel# in 'a')
		p {
			line-height: 150%;
			font-size: 1.8rem;
		}
	}

	// the 'very bottom' sub-footer
		// needs copyright;
		// maybe an icon or two
		// maybe sitemap and priv. policy,
	.footer-subFooter {
		position: absolute;
		bottom: 0;
		height: 6rem;
		width: 100%;
		background: transparentize(black, 0.33);
		p {
			font-size: 1.6rem;
		}
		span {
			margin: 0 5px;
			text-transform: uppercase;
		}
		div {
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
			width: 100%;
		}
	}
}

@media only screen and (min-width: $medium) {
}
@media only screen and (min-width: $large) {
	
	
	.footer-main-centerer {
		> div {
			display: inline-block;
			width: auto;
			margin: 0 5%;
		}
		.logo {
			width: calc(670px * 0.2);
			height: calc(1040px * 0.2);
		}
	}


	.footer-subFooter {
		p {
			position: absolute;
			display: inline-block;
			left: 10%;
			top: 50%;
			@include transform(translateY(-50%));
		}
		p:last-child {
			right: 10%;
			left: auto;
		}
	}


}