@media only screen {

	// 'full screen' home page landing
	// 100vw doesnt work because of the scrollbar :D use 100%
	// 
	.home {
		width: 100%;
		height: 100%;
		position: relative;
	}

	// the weird downarrow... idk.
	// hopefully not gonna stick around!
	.home-downArrow {
		position: absolute;
		bottom: 0;
		padding: 1rem;
		cursor: pointer;
		left: 50%;
		@include transform(translateX(-50%));
		i {
			color: $red;
			font-size: 4rem;
		}
	}

	// wraps the two logo images (chicken and title)
	.home-mainWrap {
		@include centerer;
		// maybe it needs some adjustment to make room for this down arrow;
		top: 45%;
	}
	// the chicken!
	.logo {
		// exact image sizes for reference scaled to fit
		@include transition(all 0.4s ease);
		width: calc(670px * 0.25);
		height: calc(1040px * 0.25);
		background: url(../../library/img/mobile-chicken.png);
		@include bgCover;
		margin: 0 auto;
	}
	
	// the logo png!
	.sitetitle {
		background: url(../../library/img/mobile-logo.png);
		@include bgCover;
		width: calc(1200px * 0.25);
		height: calc(253px * 0.25);
		margin: 0 auto;
		position: relative;
		top: 15%;
		@include transition(all 0.4s ease);

	}


}


@media only screen and (min-width: $medium) {

}
@media only screen and (min-width: $large) {


	.home {
		.logo {
			width: calc(670px * 0.33);
			height: calc(1040px * 0.33);
		}
	}
	.sitetitle {
		width: calc(1200px * 0.4);
		height: calc(253px * 0.4);
	}
}



