@media only screen {

	// 'separator' banner wrapper + fill

	.instagram-banner {
		margin: 2rem 0;
		padding: 1rem 0;
		position: relative;
		background: $red;
		width: 100%;
		text-align: center;
		p {
			text-transform: uppercase;
			padding: 1rem;
			font-size: 2.4rem;
			color: white;
			font-family: $headerFont;
		}
	}

	

	// so far, just to wrap them together in flow
	.instagram-featured-wrapper {
	}

	// any instagram featured image tile on the page
	// wrapper for layout
	.instagram-featured-tile {
		width: 320px;
		height: 320px;
		overflow: hidden;
		margin: 2rem auto;
		position: relative;
		img {
			@include centerer;
			width: 100%;
			height: 100%;
		}
	}

	/* 
	 	'Simple-Lightbox' Gallery
	 		Custom CSS-Specificity overrides
	*/
	.sl-wrapper {
		.sl-close {			
		}
		.sl-navigation {
			// L/R arrows 
			.sl-next,
			.sl-prev {
				i {
					font-size: 6rem;
				}
			}
		}
		.sl-image {
			.sl-caption {
				text-align: center;
				font-family: $headerFont;
				text-transform: uppercase;
				background: $red;
			}
		}
	}
	



}




@media only screen and (min-width: $medium ) {


	.instagram-featured-wrapper {
		text-align: center;
		padding: 0 10%;
	}
	.instagram-featured-tile {
		margin: 1px;
		display: inline-block;
	}













}
@media only screen and (min-width: $large ) {

}