@media only screen {

	// Container + Background Image
	.main {
		position: relative;
		width: 100%;
		background: url(../../library/img/mobile-woodbackground.jpg);
		text-align: center;
		padding: 15vh 5%;
		margin-top: 10vh;
	}

	// Wrapper + WhiteBackground
	.menu {
		background: white;
		// all headers are orange
		h1, h2, h3 {
			color: $orange;
		}
		// all the text is uppercase
		h1, h2, h3, p {
			text-transform: uppercase;
			font-family: $headerFont;
		}
	}

	// wrap 'left' module (appetizers)
	// everything is just straight down the middle on mobile though
	.menu-leftSideModule {
		padding: 5%;
		// every h2 is a 'big section'
		// sometimes big sections need to have subsections
		// so its just div.div - not too bad, no need for more classes
		// first few menu items are one section:
		> div {
			margin: 4rem 0;
			h2 {
				font-weight: 400;
			}
			p {
				position: relative;
				font-family: $copyFont;
				font-weight: 500;
				line-height: 150%;
			}
			// some menu items (h2) have multiple sections:
			// those get half margins:
			> div {
				margin: 2rem 0;
			}
		}
		
		// weird asterisk dividers between menu items as on comp
		div:not(:first-child) {
			h2 {
				position: relative;
				// position top - 1/2 of combined margins (rn its 6rem so -3rem)
				&:before {
					@include afterLine;
					bottom: auto;
					top: -3rem;
					content: '**********';
					width: 80%;
					opacity: 1;
					color: black;
					margin: 0 auto;
				}
			}
		}
	}
	
	// wrap 'center' module; the main part of the menu
	// i think its weird that it doesnt say "entrees" or something...
	// but on the real menu its prominent enough to not matter
	// i really want to put these borders in w/o them it looks so plain
	.menu-centerModule {
		margin: 2rem 0;
		padding: 2rem 5%;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
		div {
			margin: 4rem 0;
			padding: 2rem 0;
			position: relative;
		}
		p:nth-child(even) {
			margin-bottom: 2rem;
		}
		p {
			line-height: 150%;
			font-size: 1.8rem;
		}
		.menu-disclaimer {
			p {
				font-size: 1.2rem;
				text-align: left;
			}
		}
		// 
		div:not(:last-child) {
			&:after {
				@include afterLine;
				content: '****************';
				bottom: -1rem;
				width: 80%;
				opacity: 1;
			}
		}
	}

	
	// 'right' side module mostly contact information
	// trying to keep the margin/padding consistent
	.menu-rightSideModule {
		padding: 5%;
		margin: 4rem 0;
		div {
			margin: 4rem 0;
		}
		span {
			color: $orange;
		}
		a, a:visited {
			color: $orange;
			text-decoration: none;
		}
	}

	
	.menu-button-wrapper {
		div {
			display: inline-block;
			font-family: $headerFont;
			text-transform: uppercase;
			color: $orange;
		}
	}
	.menu-button {
		background: white;
		cursor: pointer;
		padding: 2rem 4rem;
		margin: 1rem 2rem;
	}

	.menu-buttonPDF {
		margin: 1rem 0;
		// background: white;
		padding: 2rem;
		a {
			padding: 1rem;
		}
		a, a:visited {
			// color: $orange;
			color: white;
			text-transform: none;
			font-family: $copyFont;
			font-size: 2rem;
			text-decoration: none;
		}
	}

	.menu-ourmenu {
		display: inline-block;
		margin: 1rem 0;
		background: white;
		padding: 2rem;
		text-transform: uppercase;
		color: $red;
		font-family: $headerFont;
		position: relative;
		right: 40%;
		@include transform(translateX(50%));
	}

	.menu-fullMenuPDF {
		display: none;
	}

	.menu-logoImages {
		img {
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
		}
	}
	
}



@media only screen and (min-width: $large) {
	

	.main {
		background: url(../../library/img/desktop-woodbackground.jpg);
		@include bgCover;
	}

	.menu-button-wrapper {
		@include inbCenter;
		padding: 0 10%;
	}

	.menu {
		padding: 0;
		> div {
			display: none;
		}
		.menu-fullMenuPDF {
			@include transition(all 0.3s ease);
			display: block;
			margin: 0 auto;
			background: url(../../library/img/mainMenu.jpg);
			@include bgCover;
			width: calc(1200px * 0.75);
			height: calc(929px * 0.75);
		}
	}
	.menu-buttonPDF {
		// @include transform(translateX(-50%));
	}

}


@media only screen and (min-width: 1600px) {
	.menu {
		.menu-fullMenuPDF {
			width: 1200px;
			height: 929px;
		}
	}

}
		