@media only screen {

	// Nav Wrapper holds the entire behavior
	.nav{
		position: absolute;
		z-index: 10;
		background-color: $red;
		width: 100%;
		top: 80%;
	}
	// applied by JS
	.nav--sticky{
		position: fixed;
		top: 0;
	}
	// applied by js
	.nav--visible {
	}
	
	// the entire vertical bar is currently triggering the behavior
	// this is 'helpful' but not really correct... what if we add more buttons?
	// what if we add more content area to the bar? then a 'miss' is going to click!
	.nav-mobile,
	.nav-menu-item{
		text-align: center;
		cursor: pointer;
	}
	// the 'navicon' that becomes a 'close'
	.nav-mobile-hamburger{
		@include font-size(32);
		// padding: 10px 0;
		position: relative;
		left: 40%;		// I prefer right-aligning this UX element LMK what you think
		@include transform(translateX(-50%));
	}
	// padding on the item isnt working with ionicons!
	// had to move it to the container; so weird!
	.nav-mobile {
		padding: 10px 0;
	}
	// styling the links
	.nav-mobile-hamburger,
	.nav-menu-item-link{
		color: white;
		text-decoration: none;
	}
	// padding and layout for links
	// once again this looks like clean css but its not flexible at all
	.nav-menu,
	.nav-menu-item-link{
		padding: 5px 0;
		display: block;
	}
	// fonts for links
	// -_-
	.nav-menu-item-link{
		@include font-size(20);
		// font-weight: 700;
	}
	
	// the hide/show ul of links 
	.nav-menu{
		overflow-y: hidden;
		display: none;
		padding: 5px 0;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.nav{
	}
	.nav--sticky{
	}
	.nav-menu{
		display: block;
	}
	.nav-mobile{
		display: none;
	}
	.nav-menu{
		text-align: center;
		padding: 15px 0;
	}
	.nav-menu-item-link{
		@include transition(color 0.25s ease);
	}
	.nav-menu-item{
		display: inline-block;
		padding: 0 15px;
		&:hover{
			.nav-menu-item-link{
				// hover styling for buttons?
			}
		}
	}
}
