// breakpoints

$medium: 641px;
$large: 1025px;



// colors
$red: #a32431;
// menu headers;
$orange: #ff0000;


// fonts:
$headerFont: Burin Sans AT;
// $copyFont: Brandon Grotesque;
$copyFont: Avenir Next LT Pro;